<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Nicotine Log</title>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.2/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  </head>
  <body>
    <div id="app">
        <p>I want to cut down my nicotine consumption by <input v-model="percentRed" :placeholder='percentRed'>% in the next
            <select v-model="time">
                <section>
                    <option selected disabled v-if="time == 0" value=0>1 week</option>
                    <option v-else value=0>1 week</option>
                </section>
                <section>
                        <option selected disabled v-if="time == 1" value=1>2 weeks</option>
                        <option v-else value=1> 1 week</option>
                </section>

                <section>
                        <option selected disabled v-if="time == 2" value=2>1 month</option>
                        <option v-else value=2>1 month</option>
                </section>
                <section>
                        <option selected disabled v-if="time == 3" value=3>3 months</option>
                        <option v-else value=3> 3 months</option>
                </section>
                <section>
                    <option selected disabled v-if="time == 4" value=4>6 months</option>
                    <option v-else value=4>6 months</option>
                </section>
                <section>
                    <option selected disabled v-if="time == 5" value=5>1 year</option>
                    <option v-else value=5>1 year</option>
                </section>
            </select>
        </p>
        <p>Right now I most often use a
            <select v-model="device">
                <section>
                    <option selected v-if="device == 0" value=0>Juul</option>
                    <option v-else value=0>Juul</option>
                </section>
                <section>
                    <option selected v-if="device == 1" value=1>Cigarette</option>
                    <option v-else value=1>Cigarette</option>
                </section>
            </select>
        </p>
        <p>Right now I think I use nicotine <input v-model="tad" :placeholder='tad'> times a day and <input v-model="taw" :placeholder='taw'> days a week</p>
        <p>An inspirational message to myself: <input v-model="inspire" :placeholder='inspire'></p>
        <button v-on:click=>Submit!</button>
    </div>
    <script>
        const landingInfo = {
                    "percentRed": 30,
                    "time": 1,
                    "device": 0,
                    "tad": 3,
                    "taw": 7,
                    "inspire": "i wanna"
                }
        const app = new Vue({
            el: '#app',
            data: {
                percentRed: '',
                time: '', //let's do time as index of an array of options
                device: '', //because everybody juuls lol
                tad: '', //times a day (i'm a lazy mofo)
                taw: '', //times a week
                inspire: ''
            },
            created() {
                // this.percentRed = 1;
                this.percentRed = landingInfo.percentRed;
                this.time = landingInfo.time;
                this.device = landingInfo.device;
                this.tad = landingInfo.tad;
                this.taw = landingInfo.taw;
                this.inspire = landingInfo.inspire;

                // console.log(1);
                // try {
                //     await fetch(`http://localhost:8080/api/percentRed`, {mode: "cors"})
                //     .then (response => {
                //         console.log(response);
                //         this.percentRed = sponse;
                //     })
                // } catch (err) {
                //     console.log(err);
                // }
                
            },

        })
    </script>
    </body>
</html>